{% extends  './base.html' %}

{% load static %}

{% block content %}


  <!-- Common Banner Part Start -->
  <section id="cmn-banner17">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmn-banner-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Daily Needs</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
  </section>
  <!-- Common Banner Part End -->

  
  <!-- Listin Page Part Start -->
  <section id="listin_page">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="row">
            
            {% for post in items %}
            <div class="col-lg-4 col-sm-6 mr16">
              <div class="key-content">
                <img src="{{ post.img.url }}" alt="image" class="mr3">
                <a class="btn btn-primary" href="{{post.url}}" role="button">{{ post.name }}</a>
              </div>
            </div>
            {% endfor %}


          </div>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <div class="product-category">
                <h4>Daily Need Categories</h4>
                <div class="mr18">
                  <ul style="margin-bottom: 0;">

                    {% for post in items %}
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="{{post.url}}">
                      {{post.name}}
                      <span class="float-right"> </span>
                      </a>
                    </li>
                    {% endfor %}

    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <!-- <div class="product-category">
                <h4>All Brands</h4>
                <div class="mr18">
                  <ul style="margin-bottom: 0;">
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Fiber One 
                      <span class="float-right">(1)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Kellogg's 
                      <span class="float-right">(10)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Chex
                      <span class="float-right">(5)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Quaker 
                      <span class="float-right">(3)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Ifad
                      <span class="float-right">(9)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Teer
                      <span class="float-right">(10)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Fresh
                      <span class="float-right">(8)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Boshundhara
                      <span class="float-right">(1)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Shaad
                      <span class="float-right">(15)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        ACI
                      <span class="float-right">(9)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Barilla 
                      <span class="float-right">(20)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Spaghetti
                      <span class="float-right">(0)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Penne
                      <span class="float-right">(2)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Fusilli
                      <span class="float-right">(5)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Orzo
                      <span class="float-right">(5)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Mr. Noodles
                      <span class="float-right">(5)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Cocola
                      <span class="float-right">(5)</span>
                      </a>
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="#">
                        Maggi
                      <span class="float-right">(5)</span>
                      </a>
                    </li>
    
                  </ul>
                </div>
              </div> -->
    
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- Listin Page Part End -->

{% endblock %}