{% extends  './base.html' %}

{% load static %}

{% block content %}


  <!-- Common Banner Part Start -->
  <section id="cmn-banner5">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmn-banner-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Electronics</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
  </section>
  <!-- Common Banner Part End -->

  
  <!-- Listin Page Part Start -->
  <section id="listin_page">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="row">
            
      
            {% for post in items %}
            <div class="col-lg-4 col-sm-6 mr16">
              <div class="key-content">
                <img src="{{ post.img.url }}" alt="image" class="mr3">
                <a class="btn btn-primary" href="{{ post.url }}" role="button">{{ post.name }}</a>
              </div>
            </div>
            {% endfor %}
            

            

            <!-- <div class="col-lg-12">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div> -->


          </div>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <div class="product-category">
                <h4>Electronic Categories</h4>
                <div class="mr18">
                  <ul style="margin-bottom: 0;">

                    {% for post in items %}
                    <li>
                      <i class="far fa-dot-circle"></i>
                      <a href="{{post.url}}">
                      {{post.name}}
                      <!-- <span class="float-right">99</span> -->
                      </a>
                    </li>
                    {% endfor %}
    
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12 col-md-6">
              <div class="product-category">
                <h4>All Brands</h4>
                <div class="mr18">
                  <ul style="margin-bottom: 0;">

                    {% for post in brands %}
                    <li>
                      <i class="far fa-dot-circle"></i>
                      
                      {{post.name}}
                      <span class="float-right"> (1) </span>
                      
                    </li>
                    {% endfor %}
                       
                  </ul>
                </div>
              </div>
            </div> -->
          </div>

         

        </div>
      </div>
    </div>
  </section>
  <!-- Listin Page Part End -->


{% endblock %}