{% extends  './base.html' %}

{% load static %}

{% block content %}

 <!-- Common Banner Part Start -->
 <section id="cmn-banner">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmn-banner-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
  </section>
  <!-- Common Banner Part End -->

  <!-- About Part Start -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="about-content">
            <p>SheBa Enterprise is a platform, from where you can get various types of products for your export-import business. We offer you world-class branded products to run your start-up business or for your established business. We are here to give you the right direction to select your business products, by which you may become successful.</p>
            <p>It is quite difficult for anyone specially for a start-up businessman to start his business with the products which have demand in our market. But we are here to help you and offer you the opportunity to go on the right path with excellent products. If you visit our website, you will easily find out the product which may help you to become a successful businessman.</p>
            <p>SheBa Enterprise is an Affiliate Company of SheBa Group, USA. Besides, we have many other country offices. We are trying to build up a good relationship with our customers through our services.</p>
            <p>The founders of the company are Dr. Moinuddin Sarker, Chairman & CEO, and his working partner Dr. Anjuman Shelly, Co-Chairman & Executive Director; are the leaders behind the SheBa Group, USA. They have formulated the concept of a clean environment and their invented unique technology can convert Municipal Solid Waste (MSW) to Gold.</p>
            <p>As a company we are dedicated to your needs, we provide solutions with highly skilled professionals and advanced diagnostic systems to maintain better performance. We use our expertise to provide support with the tools that you need to reduce costs, increase productivity and become more environmentally conscious. We value customer support above all else, fostering relationships that go beyond the sales cycle.</p>
            <p>Beside export import we design different kinds of websites and work with customized specifications. We also offer web-based services like web hosting, site development, certifying agents, site maintenance and all kind of internet and e-Commerce Related Services.</p>
            <p style="text-align: center;">Best wishes for your business and waiting for your success. We want to serve you at our level best.</p>
            <div class="row">
              <div class="col-lg-6">
                <div class="mrr" style="margin-left: 15px;">
                  <img src= "{% static '/images/fast-forward.png' %}" alt="icon">
                  <span style="color: #009504;font-size: 22px;font-weight: 600; margin-left: 5px;position: relative;top: 3px;">Business Type:</span>
                  <p style="margin-top: 10px;">Export, Import, Distributor, Whole Seller, Order Supplier & Trading.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mrr" style="margin-left: 15px;">
                  <img src="{% static '/images/fast-forward.png' %}" alt="icon">
                  <span style="color: #009504;font-size: 22px;font-weight: 600; margin-left: 5px;position: relative;top: 3px;">Product & Services:</span>
                  <p style="margin-top: 10px;">Electronics, Garments, Cosmetics, Daily Needs, Pharmaceuticals.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mrr" style="margin-left: 15px;">
                  <img src="{% static '/images/fast-forward.png' %}" alt="icon">
                  <span style="color: #009504;font-size: 22px;font-weight: 600; margin-left: 5px;position: relative;top: 3px;">Export:</span>
                  <p style="margin-top: 10px;">Our main focus on export of products mainly electronics, garments, cosmetics, daily needs, pharmaceuticals based products.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mrr" style="margin-left: 15px;">
                  <img src="{% static '/images/fast-forward.png' %}" alt="icon">
                  <span style="color: #009504;font-size: 22px;font-weight: 600; margin-left: 5px;position: relative;top: 3px;">Import:</span>
                  <p style="margin-top: 10px;">Apparel & Industrial based machinery & Equipment’s, cosmetics.</p>
                </div>
              </div>
            </div>
      
          </div>
        </div>
        <div class="col-lg-10 m-auto">
          <div class="founder">
            <h5>Founders</h5>
          </div>
          <div class="row">
            <div class="col-lg-6 mr20 col-md-6">
              <div class="about-details text-center">
                <img src="{% static '/images/sir.png' %}" alt="image">
                <h6>Dr. Moinuddin Sarker</h6>
                <p>Chairman & CEO</p>
                <span>PhD, MCIC, FICER, MInstP, FARSS</span>
                <div class="about-icon">
                  <a href="https://www.facebook.com/moinuddin.sarker"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://twitter.com/moin1966?lang=en"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/dr-moinuddin-sarker-phd-mcic-ficer-minstp-mrsc-farss-21b51810/"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="about-details text-center">
                <img src="{% static '/images/mam.jpg' %}" alt="image">
                <h6>Dr. Anjuman Shelly</h6>
                <p>Co-Chairman</p>
                <span>PhD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Part End -->

  {% endblock %}