{% extends  './base.html' %}

{% load static %}

{% block content %}

<!-- Common Banner Part Start -->
  <section id="cmn-banner7">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmn-banner-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
  </section>
  <!-- Common Banner Part End -->


  <!-- Faq Part Start -->
  <section id="faqs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-details">
            <div class="accordion" id="faq">
            <div class="row">
              <div class="col-lg-6">
                  <div class="card">
                      <div class="card-header" id="faqhead1">
                          <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                          aria-expanded="true" aria-controls="faq1">1.	What type of products do you import or export?</a>
                      </div>
    
                      <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                          <div class="card-body">
                            We mainly import or export electronics, garments, cosmetics, daily needs, pharmaceuticals, industrial-based machinery & equipment, cosmetics, etc. based products.
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="faqhead3">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                          aria-expanded="true" aria-controls="faq3">3. Which Branded Products May I Get From You?</a>
                      </div>
    
                      <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                          <div class="card-body">
                            We will give you world-class branded products like singer, LG, Plus Point etc.
                          </div>
                      </div>
                  </div>
                <div class="card">
                  <div class="card-header" id="faqhead5">
                      <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5"
                      aria-expanded="true" aria-controls="faq5">5. What Are the Best Products to Import & Export?</a>
                  </div>
    
                  <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                      <div class="card-body">
                        We receive this question a lot. Unfortunately, there is no easy answer! The first step for a trader looking to set up a new Import or export business is to obtain market information. The commercial success of ventures relies on an insightful understanding of the commodity in the market. This encompasses trends, local competition, etc.
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                  <div class="card">
                      <div class="card-header" id="faqhead2">
                          <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                          aria-expanded="true" aria-controls="faq2">2. 	What is the mode of the payment system?</a>
                      </div>
    
                      <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                          <div class="card-body">
                           <ul>
                               <li><i class="fas fa-check-circle"></i> Cash-in-Advance</li>
                               <li><i class="fas fa-check-circle"></i> Bank Transfer</li>
                               <li><i class="fas fa-check-circle"></i> Letter of Credit (LC)</li>
                           </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="faqhead4">
                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                        aria-expanded="true" aria-controls="faq4">4. How Can I Start Importing-Exporting?</a>
                    </div> 
    
                    <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                        <div class="card-body">
                          The easiest way to get the process is started is by educating yourself. We always suggest clients to search for the unique products. Book a one-on-one consultation with us to obtain an analysis of commodity-related regulations and operational aspects that apply to your business.
                        </div>
                    </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqhead6">
                      <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6"
                      aria-expanded="true" aria-controls="faq6">6.	How much taxes do I need to pay?</a>
                  </div>
    
                  <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                      <div class="card-body">
                        Based on the type of products and quantity, it will be added to your bill.
                      </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="faqhead7">
                      <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7"
                      aria-expanded="true" aria-controls="faq7">7. Who are your clients?</a>
                  </div>
    
                  <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                      <div class="card-body">
                        Our clients are Importers, Exporters, Logistic Companies, Banks and Research Companies etc.
                      </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Faq Part End -->

{% endblock %}