{% extends  './base.html' %}

{% load static %}

{% block content %}

  <!-- Common Banner Part Start -->
  <section id="cmn-banner14">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmn-banner-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
  </section>
  <!-- Common Banner Part End -->

  <!-- Mission Part Start -->
  <section id="mission">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="career-content">
            <h6>Privacy Policy</h6> <hr>
            <p style="padding-top: 8px;"> Privacy Policy explains how we use your data, you can also view your privacy policy and our company policies. Please read our privacy policies before you place any import or export orders.</p>
            <p style="font-weight: 600; color: #009504;"> Personal Information </p>
            <p>
                <ul>
                  <li style="font-size:17px;"><i class="fas fa-check-circle"></i> We collect your name, contact information, and address to verify you.</li>	
                  <li style="font-size:17px;"><i class="fas fa-check-circle"></i> We also collect the company name, contact information, and address for validating the reason.</li>	
                  <li style="font-size:17px;"><i class="fas fa-check-circle"></i> We need customers' financial information for the payment process.</li>
                  <li style="font-size:17px;"><i class="fas fa-check-circle"></i> We can gather other information for storing customers’ data and promotional activities.</li>	
                </ul>
            </p>
            <hr>
            <p style="font-weight: 600; color: #009504;"> Security </p>
            <p>
                Our policies provide high-level security maintenance without the risk of leaking any personal data.
            </p>
            <hr>
            <p style="font-weight: 600; color: #009504;"> Log Files </p>
            <p>
                Like other companies, we also gather the log files, including your internet protocol (IP) addresses, internet service provider (ISP), browser type, and time & date for analyzing our website & trends.
            </p>
            <hr>
            <p style="font-weight: 600; color: #009504;"> Third-Party Privacy Policies </p>
            <p>
                Whenever you enter, exit or re-enter our website, you will find the cookies. We recommend them for our company's advertisement. But you can disable these cookies any time via your browser settings.
            </p>
            <hr>
            <p style="font-weight: 600; color: #009504;"> Consent </p>
            <p>
                You consent our all Privacy Policies while you are using our website.<br> Changes to These Privacy Policies. <br> We can change or upgrade these policies at any time to our convenience. So, no obligation can be expected in these terms.
            </p>
            <hr>
            <p style="font-weight: 600; color: #009504;"> Rights </p>
            <p>
                If you face any problems regarding these policies, feel free to contact with us via e-mail: <a href="mailto:info@shebaenterprisesllc.com">info@shebaenterprisesllc.com</a> & contact no: +1 203 231 5300 or +880 1824-570690.
                We always keep your comfort first.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mission Part End -->


{% endblock %}