{% extends  './base.html' %}

{% load static %}

{% block content %}

<!-- Common Banner Part Start -->
<section id="cmn-banner11">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="cmn-banner-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Overview</a></li>
                <li class="breadcrumb-item active" aria-current="page">Vision</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
  </section>
  <!-- Common Banner Part End -->

  <!-- vision Part Start -->
  <section id="mission">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 m-auto">
          <div class="career-content">
          <h6>Our Vision</h6><hr>
          <p style="padding-top: 8px;">
            <ul>
              <li style="font-size:17px;"><i class="fas fa-check-circle"></i>Our vision is to achieve international recognition by maintaining all dealings and business practices to attain maximum client satisfaction.</li>	
              <li style="font-size:17px;"><i class="fas fa-check-circle"></i>At the same time, we provide the best products in the city with affordable and quality products.</li>	
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mission Part End -->




{% endblock %}